body {
    font-size: 20px;
    line-height: 1.5;
    margin: 20px;
}
h1 {
    font-size: 25px;
}

img {
    max-width: 100%;
}

figure {
    margin: 0;
}

@media screen and (min-width: 768px) {
    body {
        background-color: aquamarine;
        font-size: 30px;
        margin: 50px;
    }

    h1 {
        font-size: 40px;
    }
    
    figure {
        display: inline-block;
    }
    
    img {
        width: 500px;
        height: 500px;
    }
}

@media screen and (min-width: 1300px) {
    body {
        background-color: coral;
        font-size: 35px;
        margin: 70px;
        max-width: 1378px;
    }

    h1 {
        font-size: 45px;
    }
    
    figure {
        display: inline-block;
    }
    
    img {
        width: 500px;
        height: 500px;
    }
}