img {
    width: 200px;
}
.super-mario{
    position: absolute;
}
.goomba{
    position: absolute;
    top: 375px;
}
.bowser{
    position: absolute;
    left: 400px;
}
.baloon{
    position: absolute;
    left: 200px;
    top: 55px;
}
.word{
    position: absolute;
    left: 210px;
    z-index: 1;
    font-size: 18px;
}