.div1{
    background-color: burlywood;
}
.div2{
    background-color: chocolate;
}
.div3{
    background-color: crimson;
    height: 100px;
}
.div4{
    background-color: darkgreen;
}
.div5{
    background-color: darkviolet;
}
div:hover{
    border: 5px solid black;
}
.a{
    font-size: 10px;
}
.b{
    font-family: monospace;
}
.c{
    font-weight: 100;
}
.d{
    font-family: sans-serif;
}
.e{
    font-size: 30px;
}
.a, .c, .e{
    font-style: italic;
}